layout{
    focus-ring{
        active-gradient from="#85d6c0cc" to="#aacbe3cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#343b38"
        urgent-color "#ffb4ab"
    }
}
