layout{
    focus-ring{
        active-gradient from="#b9c3ffcc" to="#e5bad8cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#38393f"
        urgent-color "#ffb4ab"
    }
}
