layout{
    focus-ring{
        active-gradient from="#99ccfacc" to="#d2bfe7cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#36393e"
        urgent-color "#ffb4ab"
    }
}
