@define-color accent_color #dcc66e;
@define-color accent_fg_color #3a3000;
@define-color accent_bg_color #dcc66e;
@define-color window_bg_color #221f17;
@define-color window_fg_color #e9e2d4;
@define-color headerbar_bg_color #221f17;
@define-color headerbar_fg_color #e9e2d4;
@define-color popover_bg_color #221f17;
@define-color popover_fg_color #e9e2d4;
@define-color view_bg_color #1e1b13;
@define-color view_fg_color #e9e2d4;
@define-color card_bg_color #1e1b13;
@define-color card_fg_color #e9e2d4;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
