@define-color accent_color #feb0d3;
@define-color accent_fg_color #521d3a;
@define-color accent_bg_color #feb0d3;
@define-color window_bg_color #251d21;
@define-color window_fg_color #eedfe3;
@define-color headerbar_bg_color #251d21;
@define-color headerbar_fg_color #eedfe3;
@define-color popover_bg_color #251d21;
@define-color popover_fg_color #eedfe3;
@define-color view_bg_color #21191d;
@define-color view_fg_color #eedfe3;
@define-color card_bg_color #21191d;
@define-color card_fg_color #eedfe3;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
